/* CSS */
/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

main {
  padding-top: 120px;
}


/* Style main content */
.content {
  padding: 20px;
  margin-top: 20px; /* Add margin between header and section */
}

/* Style form container */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* padding-top: px; */
  border: 1px solid #5c1298;
  border-radius: 5px;
}

/* Style form heading */
.form-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style form label */
.form-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Style form input fields */
.input-field,
.textarea-field {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style form submit button */
.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #353066;
}

/* Style error message */
.error-message {
  color: red;
  margin-top: 10px;
}
